*.obj
*.ipch
*.pdb
*.tlog
*.opensdf
*.sdf
*.idb
*.exe
*.ilk
*.lastbuildstate
*.unsuccessfulbuild
*.log
*.suo
*.exe
*.pch
*.filters
*.db
.vs/DeathLeak/v15/Browse.VC.opendb
*.opendb
steamworks_sdk_142/sdk/tools/ContentBuilder/builder/crashhandler.dll
steamworks_sdk_142/sdk/tools/ContentBuilder/builder/
steamworks_sdk_142/sdk/tools/ContentBuilder/content/windows_content/ikpMP3.dll
steamworks_sdk_142/sdk/tools/ContentBuilder/content/
steamworks_sdk_142/sdk/tools/ContentBuilder/output/
